* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

body {
	background-color: #FCDFD9;
}

img {
	height: 90px;
	width: 205px;
}

#logo {
	visibility: hidden;
}

.imgscript {
	
}

.topbar {
	background-color: #D37F6D;
	height: 100px;
	font-size: 40px
}

.bottombar {
	background-color: #D1C5C2;
	height: 150px;
}

.section1 {
	float: right;
	margin-left: 140px;
	margin-right: 210px;
	text-align: center;
	overflow: auto;
	width: 620px;
}

.sidebar {
	display: block;
	background-color: #A63B24;
	height: 750px;
	width: 100px;
	text-align: center;
}

.sidebar a {
	height: 100px;
	width: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
}

.button1 {
	text-decoration: none;
	background-color: #5CFE7F;
	color: black;
	padding: 25px 25px;
	border-radius: 50%;
	cursor: not-allowed;
	font-size: 25px;
	
}

.button2 {
	text-decoration: none;
	background-color: #A63B24;
	color: black;
	padding: 25px 25px;
	border-radius: 50%;
	font-size: 25px;
}

.button3 {
	text-decoration: none;
	background-color: #D1C5C2;
	color: black;
	padding: 0px 150px;
	border-radius: 50%;
	font-size: 20px;
}

a:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.topbar img{
	float: right;
}

.review1 {
	float: right;
	margin-left: 140px;
	margin-right: 210px;
	text-align: center;
	overflow: auto;
	width: 620px;
	height: 257px;
	margin-bottom: 100px
}

.review1 div {
background-color: white;	
}

.review1 video{
	float: left;
}

.review2 {
	float: right;
	margin-left: 140px;
	margin-right: 210px;
	text-align: center;
	overflow: auto;
	width: 620px;
	height: 257px;
}

.review2 div {
background-color: white;	
}

.review2 video{
	float: left;
}